<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <%= render @messages %>

      <form>
        <input type="text" name="message">
        <input type="submit"/>
      </form>

    <%= link_to 'Home', '/' %>
  </body>
  <% if logged_in?%>
    <%= link_to "logout" , logout_path , method: :delete %>
  <%else %>
    <%= link_to "login" , login_path , method: :get %>
  <%end %>
</html>
